/* General body styling */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Dark mode styles */
  #checkbox:checked ~ .top-section {
    background-color: #1a1a1a;
  }
  
  #checkbox:checked ~ .top-section h1 {
    color: #e0e0e0;
  }
  
  #checkbox:checked ~ h2 {
    color: white;
  }
  
  #checkbox:checked ~ body {
    background-color: #121212;
    color: white;
  }
  
  /* Top section styling */
  .top-section {
    height: 29vh;
    background-color: #0e0d57;
  }
  
  /* Logo container styling */
  .logo-container {
    text-align: center;
    padding-top: 10px;
  }
  
  /* Heading 1 styling */
  h1 {
    font-size: 44px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: rgb(11, 11, 11);
  }
  
  /* Heading 2 styling */
  h2 {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-left: 20px;
  }
  
  /* Banner container styling */
  .banner-container {
    text-align: center;
    padding-top: 10px;
  }
  
  /* Banner image styling */
  .banner-img {
    width: 700px;
    height: 200px;
  }
  
  /* Toggle switch styles */
  .theme-switch-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display: none;
  }
  
  .slider {
    background-color: #b7a672;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }
  
  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .slider:before {
    background-color: rgb(231, 230, 230);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #685823;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
